body {
    background-color: #000000;
    color: white;
    overflow: hidden;
  }
  
  .spinButton {
    position: relative;
    top: -270px;
    cursor: pointer;
    border-radius: 9999px;
    height: 6rem;
    width: 6rem;
    outline: inherit;
    border: none;
    padding: 0;
    background-color: #a28354;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .marker {
    position: relative;
    transform: rotate(0deg) !important;
    top: -378px;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #a28354;
    z-index: 10;
  }

  .rouletteContainer > div {
    transform: rotate(-45deg);
  }

  div img {
    display: none;
  }

  .wheelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.2);
  }

  .congratsText {
    color: #a28354;
    font-size: 28px;
  }
  
  .App {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
  }